<?xml version="1.0" encoding="UTF-8" standalone="yes"?><jarSettings><jvm>D:\Program Files\Java\jdk1.8.0_111</jvm><homedir>D:\bimserver_newwork\BIMserver-parent-1.5.67\BimServerJar\home</homedir><address>localhost</address><proxyHost></proxyHost><useProxy>false</useProxy><proxyPort>1080</proxyPort><port>8080</port><heapsize>8539m</heapsize><stacksize>1024k</stacksize><forceipv4>false</forceipv4></jarSettings>